@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
}

* {
  /* font-family: 'Jost', sans-serif; */
  /* font-family: 'DM Sans', sans-serif; */
  font-family: 'Unbounded', cursive;
}

#logo-font {
  font-family: 'Noto Naskh Arabic', serif;
}

.productPrice {
  background: url('/redBg.jpg') center/contain no-repeat, #FF0000;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.my-config {
  --cfg-pubkey: "e7622d60287398e37912";
  --cfg-img-only: 1;
  --cfg-multiple: 0;
  --cfg-max-local-file-size-bytes: 10485760;
  --cfg-multiple-max: 1;
  --cfg-use-cloud-image-editor: 1;
  --cfg-source-list: "local, url, camera, dropbox";
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}